* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #26282b;
  color: white;
  max-width: 1240px;
  margin: 0 auto;
}

.movie-list-container h2 {
  margin-bottom: 16px;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 32px;
}

.movie-item {
  width: calc(25% - 12px);
  justify-content: space-between;
  border-radius: 8px;
  overflow: hidden;
}

.movie-item img {
  object-fit: cover;
  height: 240px;
  width: 100%;
}

.movie-item a {
  color: white;
}
.movie-item-title {
  font-size: 20px;
  margin-top: 8px;
}
